# dependencies
node_modules/

# builds
/dist/
/build/
/.next/

# env & local
.env
.env.*
*.local
*.log

# editor
.vscode/
.idea/

# misc
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# replit
.replit
.local/